<ion-toolbar  slot="start">
  <ion-item>
    <ion-label class="tituMayo"><strong>Resumen</strong></ion-label>
  </ion-item>
</ion-toolbar>


<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">

    <ion-segment-button (ionSelect)="Dia()"  value="dia">
      <ion-label>Dia</ion-label>
    </ion-segment-button>

    <ion-segment-button (ionSelect)="Semana()" value="semana">
      <ion-label>Semana</ion-label>
    </ion-segment-button>

    <ion-segment-button  (ionSelect)="Mes()" value="mes">
      <ion-label>Mes</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-toolbar>

<!-- TARJETAS DE RESUMEN  -->

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn">
      <ion-card color="primary">
        <ion-grid>
            <ion-row>
              <ion-col><ion-card-subtitle >Energia</ion-card-subtitle></ion-col>
            </ion-row>
            <ion-row>
              <ion-col><ion-badge color="danger">Max</ion-badge></ion-col>
              <ion-col *ngIf="maxEng == 'sin datos'" >{{maxEng}}</ion-col>
              <ion-col *ngIf="maxEng != 'sin datos'" >{{maxEng}} Wh</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><ion-badge color="secondary">Min</ion-badge></ion-col>
              <ion-col *ngIf="minEng == 'sin datos'" >{{minEng}}</ion-col>
              <ion-col *ngIf="minEng != 'sin datos'" >{{minEng}} Wh</ion-col>
            </ion-row>
        </ion-grid>
      </ion-card>
      </ion-col>
      <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn">
        <ion-card color="primary">
          <ion-grid>
              <ion-row>
                <ion-col><ion-card-subtitle >Voltaje</ion-card-subtitle></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-badge color="danger">Max</ion-badge></ion-col>
                <ion-col *ngIf="maxVol == 'sin datos'" >{{maxVol}}</ion-col>
                <ion-col *ngIf="maxVol != 'sin datos'" >{{maxVol}} V</ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-badge color="secondary">Min</ion-badge></ion-col>
                <ion-col *ngIf="minVol == 'sin datos'" >{{minVol}}</ion-col>
                <ion-col *ngIf="minVol != 'sin datos'" >{{minVol}} V</ion-col>
              </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn">
        <ion-card color="primary">
          <ion-grid>
              <ion-row>
                <ion-col><ion-card-subtitle >Ozono</ion-card-subtitle></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-badge color="danger">Max</ion-badge></ion-col>
                <ion-col *ngIf="maxOzo == 'sin datos'" >{{maxOzo}}</ion-col>
                <ion-col *ngIf="maxOzo != 'sin datos'" >{{maxOzo}} ppm</ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-badge color="secondary">Min</ion-badge></ion-col>
                <ion-col *ngIf="minOzo == 'sin datos'" >{{minOzo}}</ion-col>
                <ion-col *ngIf="minOzo != 'sin datos'" >{{minOzo}} ppm</ion-col>
              </ion-row>
          </ion-grid>
        </ion-card>
        </ion-col>
        <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn">
          <ion-card color="primary">
            <ion-grid>
                <ion-row>
                  <ion-col><ion-card-subtitle >Humedad</ion-card-subtitle></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><ion-badge color="danger">Max</ion-badge></ion-col>
                  <ion-col *ngIf="maxHum == 'sin datos'" >{{maxHum}}</ion-col>
                  <ion-col *ngIf="maxHum != 'sin datos'" >{{maxHum}} %</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><ion-badge color="secondary">Min</ion-badge></ion-col>
                  <ion-col *ngIf="minHum == 'sin datos'" >{{minHum}}</ion-col>
                  <ion-col *ngIf="minHum != 'sin datos'" >{{minHum}} %</ion-col>
                </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn">
        <ion-card color="primary">
          <ion-grid>
              <ion-row>
                <ion-col><ion-card-subtitle >Temperature</ion-card-subtitle></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-badge color="danger">Max</ion-badge></ion-col>
                <ion-col *ngIf="maxTem == 'sin datos'" >{{maxTem}}</ion-col>
                <ion-col *ngIf="maxTem != 'sin datos'" >{{maxTem}} Cº</ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-badge color="secondary">Min</ion-badge></ion-col>
                <ion-col *ngIf="minTem == 'sin datos'" >{{minTem}}</ion-col>
                <ion-col *ngIf="minTem != 'sin datos'" >{{minTem}} Cº</ion-col>
              </ion-row>
          </ion-grid>
        </ion-card>
        </ion-col>
        <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn">
          <ion-card color="primary">
            <ion-grid>
                <ion-row>
                  <ion-col><ion-card-subtitle >Power</ion-card-subtitle></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><ion-badge color="danger">Max</ion-badge></ion-col>
                  <ion-col *ngIf="maxPow == 'sin datos'" >{{maxPow}}</ion-col>
                  <ion-col *ngIf="maxPow != 'sin datos'" >{{maxPow}} W</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><ion-badge color="secondary">Min</ion-badge></ion-col>
                  <ion-col *ngIf="minPow == 'sin datos'" >{{minPow}}</ion-col>
                  <ion-col *ngIf="minPow != 'sin datos'" >{{minPow}} W</ion-col>
                </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
