
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  
  
  ion-toolbar{
    padding-top: 20px;
  }
  
  .uclm{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tituMayo{
    font-size: 40px !important;
  }
  
  .intro{
    padding-top: 30px !important;
  }
  