<ion-toolbar  slot="start">
  <ion-item>
    <ion-label class="tituMayo"><strong>Inicio</strong></ion-label>
  </ion-item>
</ion-toolbar>

<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-col expand="full">
        <ion-img src="/assets/citisim-tab1.png" ></ion-img> <!--  No se que coño pasa que esta imagen no me la carga -->
    </ion-col>

    <ion-col >
        <ion-img class="uclm" src="/assets/universidad-clm.jpg" ></ion-img>
    </ion-col>

  </ion-row>
</ion-grid>

  <p class="intro">
    Esto es un proyecto de un estudiante de la universidad de Castilla-La Mancha. El proyecto se ha servido de otro llamado citisim, del cual se 
    han utilizado los sensores. </p>

    <p>
    Esta aplicación es para el la visualización de determinados datos que se recogen sobre estos sensores. Como puede ser el valor actual que tiene el sensor o 
    la maxima y minima de un sensor al mes. 
    </p>
    
  
  

</ion-content>