ion-toolbar{
    padding-top: 10px;
  }
  
  
  .tituMayo{
    font-size: 30px !important;
  }

  .botonAtras{
    margin-top: 5px !important;
    margin-left: 5px !important ;
  }

  .idmin{
    font-size: 9px !important;
  }