<ion-buttons class="botonAtras" slot="start">
  <ion-back-button text="Atras" defaultHref="/tabs/tab2"></ion-back-button>
</ion-buttons>
<ion-toolbar  slot="start">
  <ion-item>
    <ion-label class="tituMayo"><strong>Estadisticas</strong></ion-label>
  </ion-item>
</ion-toolbar>


<ion-content >

    <ion-card class="welcome-card"  class="animated slow fadeIn">
      <ion-card-header>
        <ion-card-subtitle>Datos del Sensor en el mes</ion-card-subtitle>
        <ion-card-title>{{sensor}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <canvas #barChart></canvas>
      </ion-card-content>
    </ion-card>

    <ion-content>
      <ion-grid>
        <ion-row >
          <ion-col  
            *ngFor="let item of dataSensorResp"
            size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6" class="animated slow fadeIn" >
          <ion-card  color="primary">
             <ion-grid > 
                <ion-row>
                  <ion-col><ion-card-subtitle >ID: <ion-label class="idmin"> {{item.id}} </ion-label> </ion-card-subtitle></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="sensor == 'Temperatura' " >{{item.data.value | slice:0:4}} Cº</ion-col>
                  <ion-col *ngIf="sensor == 'Energia' " >{{item.data.value | slice:0:4}} Wh</ion-col>
                  <ion-col *ngIf="sensor == 'Voltaje' " >{{item.data.value | slice:0:4}} V</ion-col>
                  <ion-col *ngIf="sensor == 'Ozono' " >{{item.data.value | slice:0:4}} ppm</ion-col>
                  <ion-col *ngIf="sensor == 'Humedad' " >{{item.data.value | slice:0:4}} %</ion-col>
                  <ion-col *ngIf="sensor == 'Power' " >{{item.data.value | slice:0:4}} W</ion-col>
                </ion-row> 
            </ion-grid>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-content>

</ion-content>
