<ion-toolbar  slot="start">
  <ion-item>
    <ion-label class="tituMayo"><strong>Sensores</strong></ion-label>
  </ion-item>
</ion-toolbar>


<ion-content >

  <ion-grid >
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6"    
                  *ngFor="let sensor of sensores; let i = index"  class="animated slow fadeIn" >

                  <ion-card [class]="sensor.clase"  [routerLink]="[sensor.redirectTo, sensor.titulo]">
                    <ion-card-header>
                      <ion-card-title class="minTexTitle" >{{sensor.titulo}}</ion-card-title> 
                    </ion-card-header>
                    <ion-img class="margImg" [src]="sensor.foto"></ion-img> 
                  </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
