
.minTexTitle{
    font-size: 14px !important;
    color: white;
}

.margImg{
    padding: 10px !important;
}

.colEnergia{
    background-color: #FF6F33 !important;
}
.colVoltage{
    background-color: grey !important;
}
.colOzono{
    background-color: rgb(191, 228, 250) !important;
}
.colHumedad{
    background-color: rgb(141, 250, 199) !important;
}
.colTemperatura{
    background-color: #F8D88A !important;
}
.colPower{
    background-color: rgb(140, 138, 248) !important;
}



.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  ion-toolbar{
    padding-top: 20px;
  }
  
  .uclm{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tituMayo{
    font-size: 40px !important;
  }
  
  .intro{
    padding-top: 30px !important;
  }
  