<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="ios-apps"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ios-radio"></ion-icon>
      <ion-label>Sensores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="ios-planet"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
