<ion-buttons class="botonAtras" slot="start">
  <ion-back-button text="Atras" defaultHref="/tabs/tab2"></ion-back-button>
</ion-buttons>
<ion-toolbar  slot="start">
  <ion-item>
    <ion-label class="tituMayo"><strong>Mapa</strong></ion-label>
  </ion-item>
</ion-toolbar>



<ion-content padding class="animated slow fadeIn">
  
  <div id='map'  class="animated slow fadeIn"></div>

</ion-content>




