ion-toolbar{
    padding-top: 10px;
  }
  
  
  .tituMayo{
    font-size: 30px !important;
  }

  .botonAtras{
    margin-top: 5px !important;
    margin-left: 5px !important ;
  }
  
  .sebm-google-map-container{
    width: auto;
    height: 300px;
  }

  #map {

    width: 100% !important;
    height: 100% !important;
    background-color: grey;

  }