
  <ion-tabs >
    <ion-tab-bar slot="bottom,top">
      <ion-tab-button tab="estadisticas">
        <ion-icon name="pie"></ion-icon>
        <ion-label>Estadisticas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
