
  <ion-toolbar  slot="start">
    <ion-item>
      <ion-label class="tituMayo"><strong>Inicio</strong></ion-label>
    </ion-item>
  </ion-toolbar>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col expand="full">
        <ion-card>
          <ion-img src="/assets/citisim.png" ></ion-img>
        </ion-card>
      </ion-col>

      <ion-col >
          <ion-img class="uclm" src="/assets/universidad-clm.jpg" ></ion-img>
      </ion-col>

    </ion-row>
  </ion-grid>
  
    <p class="intro">
      Esto es un proyecto de un estudiante de la universidad de Castilla-La Mancha
    </p>
    

</ion-content>
